add1_gen2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/addWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="addWSDLFile" targetNamespace="http://www.tibco.com/addWSDLFile/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/addWSDLFile/" targetNamespace="http://www.tibco.com/addWSDLFile/">
      <xsd:complexType name="NewType">
        <xsd:sequence>
          <xsd:element name="c" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NewType1">
        <xsd:sequence>
          <xsd:element name="a" type="xsd:int"/>
          <xsd:element name="b" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ADDOperationRequest">
    <wsdl:part name="AddoperationRequest" type="tns:NewType1"/>
  </wsdl:message>
  <wsdl:message name="ADDOperationResponse">
    <wsdl:part name="ADDOperationResponse" type="tns:NewType"/>
  </wsdl:message>
  <wsdl:portType name="addWSDLFile">
    <wsdl:operation name="ADDOperation">
      <wsdl:input message="tns:ADDOperationRequest"/>
      <wsdl:output message="tns:ADDOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding" type="tns:addWSDLFile">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ADDOperation">
      <soap:operation soapAction="ADDOperation" style="rpc"/>
      <wsdl:input>
        <soap:body parts="AddoperationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="ADDOperationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="addWSDLFile">
    <wsdl:port binding="tns:SOAPServiceBinding" name="addWSDLFileSOAP">
      <soap:address location="http://localhost:8080/SOAPServiceBinding/addWSDLFile/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
